<mat-card class="entire-form">
    <mat-card-content>
        <div>
            <form [formGroup]="candidate_form" class="form" #formDirective="ngForm">
                <mat-form-field class=" form-element" *ngIf="fillMode">
                    <mat-label>Candidate ID</mat-label>
                    <input matInput formControlName="candidate_id" readonly>
                </mat-form-field>
                <br />
                <mat-form-field class="form-element" style="width: 409px;">
                    <mat-label>Enter Candidate Name</mat-label>
                    <input matInput formControlName="candidate_name">
                    <mat-error
                        *ngIf="candidate_form.controls['candidate_name'].touched && candidate_form.controls['candidate_name'].hasError('required')">
                        Candidate Name must'nt be blank
                    </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field class="form-element" style="width: 409px;">
                    <mat-label>Enter E mail ID</mat-label>
                    <input matInput formControlName="candidate_email">
                    <mat-error
                        *ngIf="candidate_form.controls['candidate_email'].touched && candidate_form.controls['candidate_email'].hasError('required')">
                        Candidate Mail ID must'nt be blank
                    </mat-error>
                    <mat-error *ngIf="candidate_form.controls['candidate_email'].hasError('pattern')">
                        Please Provide proper Mail ID
                    </mat-error>
                </mat-form-field>
                <br>
            </form>
        </div>
    </mat-card-content>
</mat-card>