
.entire-form{
  width: 200px;
  height: 200px;
  position: absolute;
}

.example-card {
  max-width: 400px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.form-element{
  width: 200px;
  height: 60px;
}
