<mat-card class="entire-form">
    <mat-card-content>
        <div style="position: absolute;margin-left: 500px;margin-top:170px;">
            <mat-card class="example-card" style="background-color: white;">
                <mat-card-content>
                    <mat-label style="color: brown; position: absolute;margin-left: 70px;margin-top: 40px">
                        <b>
                            <h2>GO FOR SURVEY</h2>
                        </b>
                    </mat-label>
                    <div style="position: absolute;margin-left: 110px;margin-top: 120px;">
                        <button mat-fab routerLink="loginCandidate" style="background-color: lightsteelblue;">
                            <mat-icon>arrow_right</mat-icon>
                        </button>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>