<mat-card class="entire-form">
    <mat-card-content>
        <div style="position: absolute;margin-left: 200px;margin-top:190px;">
            <mat-card class="example-card" *ngIf="addFormdisbler">
                <mat-card-content>
                    <ng-template [ngIf]="switchViewEdit" [ngIfElse]="loading">
                        <div>
                            <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,formDirective)"
                                class="form" #formDirective="ngForm">
                                <div formArrayName="candidate_final_form">
                                    <button mat-raised-button type="button" [disabled]="addButtonHandler()"
                                        style="background-color: #1aff66;" (click)="addOptions()">ADD
                                    </button>
                                    <br>
                                    <br>
                                    <div *ngFor="let item of candidate_final_form.controls; let pointIndex=index"
                                        [formGroupName]="pointIndex">
                                        <app-candidate-child [candidate_form]="item" [fillMode]="fillMode">
                                        </app-candidate-child>
                                        <br>
                                        <button mat-raised-button style="background-color: #ff5050;" type="button"
                                            (click)="deleteOption(pointIndex)">DELETE</button>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <br />
                                <!--  -->

                                <div class="form-element">
                                    <button mat-raised-button style="background-color: #ccffcc;" type="submit"
                                        [disabled]="addButtonHandler()" class="button">{{sbtnName}}</button>
                                </div>
                            </form>
                        </div>
                    </ng-template>

                    <ng-template #loading>
                        <div>
                            Display
                        </div>
                    </ng-template>

                </mat-card-content>
            </mat-card>
        </div>
        <div style="position: absolute;margin-left: 100px;margin-top:50px;">
            <section>
                <div class="example-button-row">
                    <div class="example-flex-container">
                        <div class="example-button-container">
                            <button mat-fab style="background-color: #66d9ff;" [disabled]="disableadd"
                                (click)="addSurvey()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                        <div class="example-button-container">
                            <button mat-fab style="background-color: #ffa366;" [disabled]="disableedit"
                                (click)="editSurvey()">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div style="position: absolute;margin-left: 1000px;margin-top:150px;">
            <mat-card class="scrollable-card">
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item *ngFor="let surveyobj of surveyList | async" role="listitem">
                            <app-survey-value-child [survey_name]="surveyobj.survey.servey_name"
                                [view_btn_ctrl]="view_btn_ctrl" [delete_btn_ctrl]="delete_btn_ctrl"
                                [selected]="surveyobj.selected" [survey_id]="surveyobj.survey.surveyid"
                                [add_btn_ctrl]="add_btn_ctrl" [update_btn_ctrl]="update_btn_ctrl"
                                (survey_handler)="getChildData($event)" (edit_handler)="editChildData()"
                                (remove_handler)="removeChildData()" (view_handler)="viewChildData()"
                                (add_handler)="addChildData()">
                            </app-survey-value-child>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="rgba(25,87,150,0.82)" type="square-spin"
    fullScreen="true">
</ngx-spinner>