.example-button-row button {
  display: table-cell;
  margin-right: 8px;
}
.example-flex-container {
  display: flex;
  justify-content: space-between;
  width: 280px;
}
.example-button-container {
  display: flex;
  justify-content: center;
  width: 80px;
}