<mat-card class="entire-form">
    <mat-card-content>
        <div style="position: absolute;margin-left: 70px;margin-top:60px;">
            <mat-card class="example-card" *ngIf="addFormdisbler">
                <mat-card-content>
                    <app-datatable-candidate [candidateList]="candidateList">
                    </app-datatable-candidate>
                </mat-card-content>
            </mat-card>
        </div>

        <div style="position: absolute;margin-left: 1000px;margin-top:150px;">
            <mat-card class="scrollable-card">
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item *ngFor="let surveyobj of surveyList | async" role="listitem">
                            <app-survey-value-child [survey_name]="surveyobj.survey.servey_name"
                                [view_btn_ctrl]="view_btn_ctrl" [delete_btn_ctrl]="delete_btn_ctrl"
                                [selected]="surveyobj.selected" [survey_id]="surveyobj.survey.surveyid"
                                [add_btn_ctrl]="add_btn_ctrl" [update_btn_ctrl]="update_btn_ctrl"
                                (survey_handler)="getChildData($event)" (edit_handler)="editChildData()"
                                (remove_handler)="removeChildData()" (view_handler)="viewChildData()"
                                (add_handler)="addChildData()">
                            </app-survey-value-child>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="rgba(25,87,150,0.82)" type="square-spin"
    fullScreen="true">
</ngx-spinner>