<div style="position: absolute;margin-left: 200px;margin-top: 100px;">
    <button mat-raised-button style="background-color: lightskyblue" (click)="switchCanInfo()">
        <mat-icon>info</mat-icon> &nbsp;&nbsp;&nbsp; CANDIDATE INFO
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button style="background-color: lightyellow" (click)="switchCanRespo()">
        <mat-icon>question_answer</mat-icon> &nbsp;&nbsp;&nbsp; CANDIDATE RESPONSE
    </button>
</div>
<div style="position: absolute;margin-left: 300px;margin-top: 180px;">
    <button mat-raised-button style="background-color: lightskyblue" (click)="dxlsFileSystem()">
        <mat-icon>cloud_download</mat-icon>&nbsp;&nbsp;&nbsp; EXCEL
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button style="background-color: lightyellow" (click)="dcsvFileSystem()">
        <mat-icon>cloud_download</mat-icon>&nbsp;&nbsp;&nbsp; CSV
    </button>
</div>